.scrollup {
  position: fixed;
  font-size: var(--bigger-font-size);
  right: 2.5rem;
  bottom: -20%;
  z-index: var(--z-index-100);
  color: var(--black-color-dark);

  transition: all 0.3s;
}

.scrollup:hover {
  color: #4d5154;
}

.show-scroll {
  bottom: 3rem;
}
