.projects {
    margin: 15vh auto;
}

.projects div {
    text-align: center;
}

.projects__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-600);
    margin-bottom: 5rem;
}

.projects__subtitle {
    text-align: center;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-500);
    color: var(--black-color-light);
    margin-bottom: 1rem;
}