.home__description {
    line-height: 1.5;
    text-align: start;
    margin-bottom: 1.5vh;
}

.button--talk {
  background: var(--black-color-dark);
  box-shadow: 1rem 1.5rem 3rem rgba(0, 0, 0, 0.3);

  align-self: start;
  transition: all 0.3s ease;
}

.button--talk:hover {
  background: var(--white-color);
  color: var(--black-color-dark);
  transform: translateY(-2.5px);
}

.button--talk:active {
  transform: translateY(1px);
}
