.wrapper {
  display: inline-flex;
  list-style: none;
  justify-self: end;

  & .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 1.5rem;
    margin: 1rem;
    width: 5rem;
    height: 5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover .tooltip {
      top: -16px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__span a {
      color: var(--black-color-dark);
    }

    &:hover {
      & span,
      & .tooltip,
      & .icon__span a {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
        color: var(--white-color);
      }
    }
  }

  & .tooltip {
    position: absolute;
    top: 0;
    font-size: 1.4rem;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  & .instagram:hover,
  & .instagram:hover .tooltip,
  & .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #ffffff;
  }

  & .linkedIn:hover,
  & .linkedIn:hover .tooltip,
  & .linkedIn:hover .tooltip::before {
    background: #0e76a8;
    color: #ffffff;
  }

  & .github:hover,
  & .github:hover .tooltip,
  & .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }

  & .youtube:hover,
  & .youtube:hover .tooltip,
  & .youtube:hover .tooltip::before {
    background: #cd201f;
    color: #ffffff;
  }
}

@media screen and (max-width: 992px) {
  .wrapper .icon {
    width: 4rem;
    height: 4rem;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: none;
  }
}
