.footer {
  padding: 10rem 3rem;
  margin-top: 15rem;
  background-color: #373b3e;
  
  &__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  
  &__item {
    margin-right: 4rem;
  }
  
  &__link {
    font-size: var(--smaller-font-size);
    color: #eee;
    text-decoration: none;
  }
  
  &__logo {
    height: 8rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  
  &__copyright {
    font-size:var(--tiny-font-size);
    color: #aaa;
    text-align: center;
    
    & .footer__link {
      font-size:var(--tiny-font-size);
    }
  }
}