/********* FONTS *********/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/********* VARIABLES *********/
:root {
  --header-height: 3rem;

  /********* COLORS  *********/
  --black-color-light: #75787c;
  --black-color-dark: #212529;
  --white-color: #fff;
  --yellow-color: #fcc419;
  --yellow-color-light: #ffe066;
  --orange-color: #fd7e14;
  --orange-color-light: #ffc078;
  --green-color: #40c057;
  --green-color-dark: #5ec576;
  --green-color-light: #d8f5a2;
  --blue-color: #228be6;
  --blue-color-light: #a5d8ff;
  --purple-color: #7950f2;
  --purple-color-light: #d0bfff;
  --pink-color: #f06595;
  --pink-color-light: #fcc2d7;
  --red-color: #f03e3e;

  /********* TYPOGRAPHY *********/
  --main-font: "League Spartan", sans-serif;

  --h1-font-size: 3.6rem;
  --h2-font-size: 2.4rem;
  --h3-font-size: 1.8rem;

  --huge-font-size: 8.4rem;
  --bigger-font-size: 4rem;
  --big-font-size: 3.2rem;
  --big-normal-font-size: 2.8rem;
  --normal-font-size: 2.4rem;
  --normal-small-font-size: 2.2rem;
  --small-font-size: 1.8rem;
  --smaller-font-size: 1.6rem;
  --tiny-font-size: 1.4rem;

  /********* FONT WEIGHT *********/
  --font-200: 200;
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;
  --font-800: 800;

  /********* MARGIN BOTTOM *********/
  --margin-little: 1rem;
  --margin-medium: 2.5rem;
  --margin-large: 4rem;

  /********* Z-INDEX *********/
  --z-index-10: 10;
  --z-index-100: 100;
  --z-index-1000: 1000;
}

/********* Responsive typography *********/
@media screen and (max-width: 992px) {
  :root {
    --h1-font-size: 4.8rem;
    --h2-font-size: 3.6rem;
    --h3-font-size: 2.4rem;

    --big-font-size: 3.2rem;
    --normal-font-size: 2.4rem;
    --small-font-size: 1.6rem;
    --smaller-font-size: 1rem;
  }
}

/********* BASE *********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body,
button,
input,
textarea {
  font-family: var(--main-font);
  font-size: var(--small-font-size);
}

body {
  background-color: var(--white-color);
  color: var(--black-color-dark);
}

h1,
h2,
h3 {
  font-weight: var(--font-700);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/********* REUSABLE CSS CLASSES *********/
.section {
  margin: 0 auto;
  padding: 8rem 8vw;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;

  &__title {
    font-size: var(--h1-font-size);
    color: var(--black-color-dark);
  }

  &__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
  }

  &__title,
  &__subtitle {
    text-align: center;
  }
}

/********* LAYOUT *********/
.container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  gap: 1rem;

  &--direction--column {
    flex-direction: column;
  }

  &--direction--row {
    flex-direction: row;
  }
}

.grid {
  display: grid;

  &--column--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/********* TYPOGRAHPY *********/
.big__title {
  text-align: center;
  font-size: var(--normal-font-size);
  font-weight: var(--font-600);
  margin-bottom: 5rem;
}

.small__subtitle {
  text-align: center;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-500);
  color: var(--black-color-light);
  margin-bottom: 1rem;
}

/********* BUTTONS *********/
.button {
  display: inline-block;
  background-color: var(--black-color-light);
  color: var(--white-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-400);

  &:hover {
    background-color: var(--black-color-dark);
  }

  &__icon {
    margin-left: var(--margin-little);
  }

  &--flex {
    display: inline-flex;
    align-items: center;
  }
}

/********** BREAKPOINTS *********/
/* Tablet */
@media screen and (max-width: 992px) {
}

/* Phone */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }
}

@media screen and (max-width: 576px) {
}

/* Phone-Small */
@media screen and (max-width: 375px) {
}
